      <tr>
        <td class="number">
          <%= race.distance %>
        </td>
        <td class="stroke">
          <%= race.stroke %>
        </td>
        <td class="time"> 
          <%= race.time %>
        </td>
      </tr>
